.yt_box{
    position: relative;
    max-width: 100%;
}
.yt_box:before{
    content: "";
    display: block;
    padding-top: 56%; /* 16:9 Format */
}
.yt_box iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


}