/* -------------------------------------------------------------------------------------------------------------------*/
/* JavaScript Hausübung 1 CWP - Covid Social Shopping JS */
/* Andreas Pilgerstorfer */
/* -------------------------------------------------------------------------------------------------------------------*/



/* ------------------------------------------      JavaScript allgemein    -------------------------------------------*/


.hide{
    display: none;
}


.hideButton{
    display: none !important;
}


.übernommen{
    border: 3px solid red;
}

.abgeschlossen{
    border: 3px solid green;

}





/* ----------------------------------------------  JavaScript alert    -----------------------------------------------*/


/* The alert message box */
.alertError {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

.alertErrorEditList{
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

.alertErrorStat {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

.alertSucc {
    padding: 20px;
    background-color: darkseagreen;
    color: white;
    margin-bottom: 15px;
}

.alertSuccTaken{
     padding: 20px;
     background-color: darkseagreen;
     color: white;
     margin-bottom: 15px;
 }

.alertEdit{
    padding: 20px;
    background-color: #b3d7ff;
    color: black;
    margin-bottom: 15px;
}

.alertDetailEdit{
    padding: 20px;
    background-color: #b3d7ff;
    color: black;
    margin-bottom: 15px;

}


.alertAddArtikel{
    padding: 20px;
    background-color: darkseagreen;
    color: black;
    margin-bottom: 15px;

}


/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.styler{
    width: 25em;
}



/* ----------------------------------------------      Allgemein     ----------------------------------------------*/
body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #b3d7ff;
    height: 8em;

    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
}

header h1{
    text-decoration: none;
    color: black;
    justify-self: center;
}

.sizing{
    height: 5em;
    width: 5em;
    margin-top: 2em;
    margin-bottom: -4em;
}

.toggleView{
    justify-self: center;
}

.centerBorder{
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.center{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.seperator{
    background-color: royalblue;
    height: 0.5em;
}


footer{
    background-color: #919191;
    height: 3em;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

footer a{
    color: white;
}



/* ---------------------------------------------- index.html styling ---------------------------------------------- */

.wrapper{
    display: flex;
    justify-content: center;
}


.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-gap: 1em;
    margin-bottom: 5em;
}

@media (max-width: 720px ){

    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        grid-gap: 1em;
        margin-bottom: 5em;
    }

}


@media (max-width: 500px ){

    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        grid-gap: 1em;
        margin-bottom: 5em;
    }

}


@media (max-width: 400px ){

    .grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        margin-bottom: 5em;
    }

}

.takeover{
    margin-bottom: 0.5em;
}

.grid div{
    border-radius: 25px;
    background: url(assets/pattern.jpg) repeat left top;
    padding: 1em;
}

.customButton{
    margin-top: 1em;
    background-color: white;
    color: black;
    font-weight: bold;
    height: 2.5em;
}

select{
    margin-top: 1em;
    background-color: white;
    color: black;
    font-weight: bold;
    height: 2.5em;
}

.decreasespacer{
    margin-bottom: -3em;
}

.customButton:hover{
    background-color: #b3d7ff;
    cursor: pointer;
    border: 2px solid;
}

.hoverRed:hover{
    background-color: lavenderblush;
    cursor: pointer;
    border: 2px solid;
}
.upSpace{
    margin-top: 1em;
}

/* -------------------------------------------- detailview.html styling ------------------------------------------ */


.boldText{
    font-weight: bold;
    margin-bottom: -0.9em;
}

.bold{
    font-weight: bold;
}

.topbar:last-child{
    margin-bottom: 1em;
}

.sidebar{
    background-color: #b3d7ff;
    padding: 1em;

}


.articles{
    padding: 1em;
}

.articles div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    padding: 1em;
    margin-bottom: 0.5em;

    background-color: honeydew ;

}

.topbar {
    padding: 1em;
    background-color: lavenderblush;
    margin-bottom: 1em;
}


.articleInfoButton{
    margin-top: 1em;
    margin-left: 2em;
    height: 2.5em;

    background-color: darkseagreen;
    border: 2px solid green;

    color: black;
    font-weight: bold;
}


.articleInfoButton:hover {
    background-color: white;
    color: green;
    cursor: pointer;
}

.articleDeleteButton{
    margin-top: 1em;
    margin-left: 0.7em;
    height: 2.5em;

    background-color: #ffbcb7;
    border: 2px solid red;

    color: black;
    font-weight: bold;
}

.articleDeleteButton:hover{
    background-color: white;
    color: red;
    cursor: pointer;
}

.submitButton{
    margin-top: 1em;

    background-color: #7eb4e1;
    height: 2.5em;
    border: none;
    font-weight: bold;
}
.submitButton:hover{
    background-color: white;
    color:  #7eb4e1;
    cursor: pointer;
}

.submitButtonAdd{
    margin-top: 1em;

    background-color: green;
    color: white;
    height: 2.5em;
    border: none;
    font-weight: bold;
}

.submitButtonAdd:hover{
    background-color: white;
    color:  green;
    cursor: pointer;
}

input, label {
    display:block;
}


input{
    padding: 0.7em;
    background-color: #dbf1ff;
    border: none;
}



.end{
    align-self: center;
}

.listDeleteButton{
    margin-top: 1em;
    height: 2.5em;
    border: none;
    background-color: #ffbcb7;
    color: black;
    font-weight: bold;
    margin-bottom: 3em;
}

.listDeleteButton:hover{
    background-color: white ;
    color: red;
    cursor: pointer;
}

::placeholder {
    color: black;
    font-weight: bold;
}


@media (min-width: 720px ){

    .wrap{
        display: flex;
        justify-content: center;
        margin-bottom: 3em;
    }


    .space{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        height: 50%;
    }
}


@media (max-width: 720px ){

    .space{
        display: grid;
        justify-content: center;
        align-items: center;
    }

}


@media (max-width: 675px ) {

    .articleInfoButton {
        margin-left: 0;
    }

}















